In [1]:
import pandas as pd

df = pd.read_csv('../data/data.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,133.555013,134.159119,134.857912,134.504576,134.105211,133.569626,...,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855551,NaN

In [35]:
new_cols = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2015']
test_df = pd.DataFrame(df[ new_cols ])
#test_df
grouped = test_df.groupby(['Indicator Name', 'Country Code'])['Country Code' == 'ARB']

grouped

Indicator Name                                                                                                         Country Code
% of females ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)  ABW             1
                                                                                                                       ADO             1
                                                                                                                       AFG             1
                                                                                                                       AGO             1
                                                                                                                       ALB             1
                                                                                                                                      ..
Women's share of population ages 15+ living with HIV (%)                                                               YEM             1
                                                                                                                       ZAF             1
                                                                                                                       ZAR             1
                                                                                                                       ZMB             1
                                                                                                                       ZWE             1
Name: Indicator Name, Length: 89010, dtype: int64

In [13]:
# df.corr(method='pearson').round(3)

In [14]:
# df.info()

In [15]:
# df.describe()

In [16]:
# newdf = df.copy().transpose()

In [17]:
# newdf

{'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. People’s Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'Northern Mariana Islands',
 'Norway',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe'}

<bound method DataFrame.melt of       Country Name Country Code  \
0       Arab World          ARB
1       Arab World          ARB
2       Arab World          ARB
3       Arab World          ARB
4       Arab World          ARB
...            ...          ...
89005     Zimbabwe          ZWE
89006     Zimbabwe          ZWE
89007     Zimbabwe          ZWE
89008     Zimbabwe          ZWE
89009     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      % of females ages 15-49 having comprehensive c...  SH.HIV.KNOW.FE.ZS
1      % of males ages 15-49 having comprehensive cor...  SH.HIV.KNOW.MA.ZS
2      Adolescent fertility rate (births per 1,000 wo...        SP.ADO.TFRT
3      Adults (ages 15+) and children (0-14 years) li...        SH.HIV.TOTL
4      Adults (ages 15+) and children (ages 0-14) new...     SH.HIV.INCD.TL
...                                                  ...                ...
89005  Use of insecticide-treated bed nets (% of unde...     SH.MLR.NETS.ZS
89006  Use of Intermittent Preventive Treatment of ma...     SH.MLR.SPF2.ZS
89007  Vitamin A supplementation coverage rate (% of ...     SN.ITK.VITA.ZS
89008           Wanted fertility rate (births per woman)        SP.DYN.WFRT
89009  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS

             1960        1961        1962        1963        1964        1965  \
0             NaN         NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN         NaN
2      133.555013  134.159119  134.857912  134.504576  134.105211  133.569626
3             NaN         NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...         ...
89005         NaN         NaN         NaN         NaN         NaN         NaN
89006         NaN         NaN         NaN         NaN         NaN         NaN
89007         NaN         NaN         NaN         NaN         NaN         NaN
89008         NaN         NaN         NaN         NaN         NaN         NaN
89009         NaN         NaN         NaN         NaN         NaN         NaN

       ...       2007       2008       2009       2010       2011       2012  \
0      ...        NaN        NaN        NaN        NaN        NaN        NaN
1      ...        NaN        NaN        NaN        NaN        NaN        NaN
2      ...  49.999851  49.887046  49.781207  49.672975  49.536047  49.383745
3      ...        NaN        NaN        NaN        NaN        NaN        NaN
4      ...        NaN        NaN        NaN        NaN        NaN        NaN
...    ...        ...        ...        ...        ...        ...        ...
89005  ...        NaN        NaN  17.300000        NaN   9.700000        NaN
89006  ...        NaN        NaN  13.900000        NaN   7.300000        NaN
89007  ...  83.000000   0.000000  77.000000  49.000000  47.000000  61.000000
89008  ...        NaN        NaN        NaN        NaN   3.500000        NaN
89009  ...  58.586086  58.760796  58.812421  58.825943  58.899308  58.939080

            2013       2014       2015  Unnamed: 60
0            NaN        NaN        NaN          NaN
1            NaN        NaN        NaN          NaN
2      48.796558  48.196418        NaN          NaN
3            NaN        NaN        NaN          NaN
4            NaN        NaN        NaN          NaN
...          ...        ...        ...          ...
89005        NaN  26.800000        NaN          NaN
89006        NaN  12.900000        NaN          NaN
89007  34.000000  32.000000        NaN          NaN
89008        NaN        NaN        NaN          NaN
89009  58.900126  58.822335  58.855551          NaN

[89010 rows x 61 columns]>

In [30]:
df.groupby(['country','age']).suicides_no.sum().nlargest(10).plot(kind='barh')

KeyError: 'country'